{% extends 'base.html' %}
{% block content %}
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div class="container">
    <div class="content">
      <div id="featured_slide">
        <ul id="featurednews">
          <li><img src="/media/{{ first_news.image }}" alt="{{ first_news.title }}" />
            <div class="panel-overlay">
              <h2>{{ first_news.title }}</h2>
              <p>{{ first_news.details }}
                <a href="/detail/{{ first_news.id }}">Continue Reading &raquo;</a></p>
            </div>
          </li>
          {% for news in four_news %}
          <li><img src="media/{{ news.image }}" alt="{{ news.title }}" />
            <div class="panel-overlay">
              <h2>{{ news.title }}</h2>
              <p>{{ news.details }}
                <a href="/details/{{ news.id }}">Continue Reading &raquo;</a></p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="column">
      <ul class="latestnews">
        <li><img src="media/100x100.gif" alt="" />
          <p><strong><a href="#">Indonectetus facilis leo.</a></strong> Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
        </li>
        <li><img src="media/100x100.gif" alt="" />
          <p><strong><a href="#">Indonectetus facilis leo.</a></strong> Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
        </li>
        <li class="last"><img src="media/100x100.gif" alt="" />
          <p><strong><a href="#">Indonectetus facilis leo.</a></strong> Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
        </li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="adblock">
    <div class="fl_left"><a href="#"><img src="media/468x60.gif" alt="" /></a></div>
    <div class="fl_right"><a href="#"><img src="media/468x60.gif" alt="" /></a></div>
    <br class="clear" />
  </div>

  {% for category in three_categories %}
  <section class="py-5">
    
    
    <!-- <div class="container"> -->
      <div id="hpage_cats">
      <h2><a href="{{ category.id }}">{{ category.title }} &raquo;</a></h2>
      <div class="row gx-5">
        
        <!-- Column -->
        {% for news in category.news_set.all %}
        {% if forloop.counter < 4 %}
        <div class="col-md-3">
          
          <div class="card">
            <img src="media/{{news.image}}" class="card-img-top" alt="{{news.title}}">
            <div class="card-body">
              <h5 class="card-title">{{ news.title }}</h5>
              <h7 class="card-subtitle">By Olu Alo</h7>
              <p>{{ news.details }}<a href="/details/{{news.id}}">Continue Reading &raquo;</a></p>
              <!-- <h7 class="card-footer">By Olu Alo</h7> -->
            </div>
          </div>
          
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    
    <!-- </div> -->
  </section>
  {% endfor %}
    



  <div id="hpage_cats">
    {% for category in three_categories %}
    {% for news in category.news_set.all %}
      {% if forloop.counter < 4 %}
    <div class="fl_left">
      <h2><a href="#">{{category.title}} &raquo;</a></h2>
      <!-- <img src="media/{{news.image}}" alt="" /> -->
      <p><strong><a href="#">{{news.title}}</a></strong></p>
      <p>{{news.details}}<a href="http://www.os-templates.com/">OS Templates</a>. For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a></p>
    </div>
    <div class="fl_right">
      <h2><a href="#">{{category.title}} &raquo;</a></h2>
      <!-- <img src="media/{{news.image}}" alt="{{news.title}}" /> -->
      <p><strong><a href="#">{{news.title}}</a></strong></p>
      <p>{{news.details}}<a href="http://www.os-templates.com/">OS Templates</a>. For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a></p>
    </div>
    {% endif %}
    {% endfor %}
    <br class="clear" />
    {% endfor %}
  </div>


    
    <!-- <br class="clear" /> -->
    
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div class="container">
    <div class="content">
      <div id="hpage_latest">
        <h2>Feugiatrutrum rhoncus semper</h2>
        <ul>
          <li><img src="media/190x130.gif" alt="" />
            <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
            <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et.</p>
            <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
          </li>
          <li><img src="media/190x130.gif" alt="" />
            <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
            <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et.</p>
            <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
          </li>
          <li class="last"><img src="media/190x130.gif" alt="" />
            <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
            <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et.</p>
            <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
          </li>
        </ul>
        <br class="clear" />
      </div>
    </div>
    <div class="column">
      <div class="holder"><a href="#"><img src="media/300x250.gif" alt="" /></a></div>
      <div class="holder"><a href="#"><img src="media/300x80.gif" alt="" /></a></div>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->

{% endblock %}